body {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  font-family: "Roboto";
}

#playground {
  margin-left: 40px;
}

#canvas {
  border-radius: 10px;
}

#results {
  display: flex;
}

.numbersList {
  margin: 10px 14px;
  font-size: 18px;
  display: block;
  text-align: center;
}

.predictionBarWrapper {
  height: 200px;
  width: 30px;
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 6px;
  position: relative;
}

#predict {
  padding: 10px;
  background-color: burlywood;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

#clear {
  padding: 10px;
  background-color: cornflowerblue;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.predictionBar {
  height: 0;
  width: 30px;
  transition-duration: 0.3s;
  position: absolute;
  bottom: 0;
  /* background-color: brown; */
}

@media only screen and (max-width: 400px) {
  body {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-family: "Roboto";
  }

  #playground {
    margin-left: 0;
  }
}
